<div class="agileits-tabs">
		<div class="container">
			<h3 class="wthree-title">{{title}}</h3>
			<div class="tabs-row">
				<div class="col-sm-3 col-md-2 tab-grid-left"> <!-- required for floating -->
					<!-- Nav tabs -->
					 <ul class="nav nav-tabs w3-agileits-tabs">
						<li class="active"><a href="{{tab1_url}}" data-toggle="tab">{{tab1_name}}</a></li>
						<li><a href="{{tab2_url}}" data-toggle="tab">{{tab2_name}}</a></li>
						<li><a href="{{tab3_url}}" data-toggle="tab">{{tab3_name}}</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-md-10 tab-grid-right">
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="Tab1">
							<div class="agileits-text">
								<div class="col-md-6 care-w3limg"> 
									<img src="{{img1}}" alt=""/>
								</div>
								<div class="col-md-6 care-w3text"> 
									<h4>{{tab1_title}}</h4>
									<p>{{{tab1_desc}}}</p>
									<div class="w3lsmore">
										<a href="{{tab1_btn_url}}" class="button-pipaluk button--inverted"> {{tab1_btn_txt}}</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-pane" id="Tab2">
							<div class="agileits-text">
								<div class="col-md-6 care-w3limg"> 
									<img src="{{img2}}" alt=""/>
								</div>
								<div class="col-md-6 care-w3text"> 
									<h4>{{tab2_title}}</h4>
									<p>{{{tab2_desc}}}</p>
									<div class="w3lsmore">
										<a href="{{tab2_btn_url}}" class="button-pipaluk button--inverted"> {{tab2_btn_txt}}</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div> 
						</div>
						<div class="tab-pane" id="Tab3">
							<div class="agileits-text">
								<div class="col-md-6 care-w3limg"> 
									<img src="{{img3}}" alt=""/>
								</div>
								<div class="col-md-6 care-w3text"> 
									<h4>{{tab3_title}}</h4>
									<p>{{{tab2_desc}}}</p>
									<div class="w3lsmore">
										<a href="{{tab3_btn_url}}" class="button-pipaluk button--inverted"> {{tab3_btn_txt}}</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div> 
		</div>
	</div>
