<!-- welcome -->
	<div class="welcome w3">
		<div class="container">
			<div class="col-md-5 welcome-agileleft">
				<img src="{{image}}" alt=""/>
			</div>
			<div class="col-md-7 welcome-right">
				<h3 class="wthree-title">{{title}}</h3>
				<p>{{{description}}}</p>
				<div class="welcome-info">
					<div class="col-md-2 welcome-text w3-agiletext-left">
						<span class="{{icon_1}}" aria-hidden="true"></span>
					</div>
					<div class="col-md-10 welcome-text w3-agiletext-right">
						<h4>{{row1_title}}</h4>
						<p>{{{row1_desc}}}</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="welcome-info">
					<div class="col-md-2 welcome-text w3-agiletext-left">
						<span class="{{icon_2}}" aria-hidden="true"></span>
					</div>
					<div class="col-md-10 welcome-text w3-agiletext-right">
						<h4>{{row2_title}}</h4>
						<p>{{{row2_desc}}}</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //welcome -->